@font-face {
    font-family: LatoRegular;
    src: url(Lato/Lato-Regular.ttf);
  }
  
  @font-face {
    font-family: LatoLight;
    src: url(Lato/Lato-Light.ttf);
  }
  
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {  
      
      body {
        margin: 0;
        background-color: #222831;
    }
  
    .container {
        max-width: 100%;
        margin: 0;
        text-align: center;
    }
    
    .header {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
    }
  
    .name {
        font-family: LatoRegular;
        position: absolute;
        top: 160px; 
        left: 50%; 
        transform: translateX(-50%); /* Centers the element by moving it left by half its width */
        white-space: nowrap; 
        text-align: center;
        font-size: 55px;
        color: white;
        text-decoration: none;
      }
        
    .title {
        font-family: LatoLight;
        position: absolute;
        top: 180px; 
        left: 50%;
        transform: translateX(-50%); /* Centers the element by moving it left by half its width */
        font-size: 35px;
        color: white;
        opacity: 0.50;
      }
      
      
    .background-img {
        top: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
  
    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start; 
        background-color: #222831;
        margin:0 auto;
        color: white;
        text-align: left;
      }
      
    .profile-pic {
        position: absolute;
        top: 360px;
        left: 50%;
        transform: translateX(-50%); 
        width: 180px;
        border-radius: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: auto ;
      }
  
  
    .about-contact-container {
        top: 65px;
        position: relative;
        display: flex;
        justify-content: space-between; 
        align-items: flex-start; 
        gap: 20px; 
        width: 100%; 
        padding: 20px; 
    }
      
    .about {
        flex: 1;
        padding: 20px;
      }
  
    .divider,
    .divider2,
    .divider3 {
        position: relative;
        height: 6px;
        width: 95px;
        background-color: black;
        margin-bottom: 5px;
    }
  
    h2 {
        font-family: LatoRegular;
        font-size: 25px;
    }
  
    p {
        width: 100%;
        font-family: LatoLight;
        font-size: 25px;
        font-weight: 300;
        line-height: 35px;
    }
  
    .contact {
        flex: 1; /* This will make the contact section take up available space */
        padding: 20px;
        text-align: left;
      }
    
    
      
    .social-links {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
    }
    
    .social-links div {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .linkin_icon,
    .fb_icon,
    .insta_icon {
        
        width: 60px;
        height: 60px;
    }
    
    .insta_icon {
        height: 45px; /* Keep original height */
    }
    
    
    .inlinked,
    .fblink,
    .iglink {
        font-family: LatoLight;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
  
    /* Works Section */
  
    .works {
        padding: 20px;
        top: 15vh;
        overflow: hidden;
        width: 100%;
        position: relative;      
    }
  
    .navigator {
        background-color: rgba(118, 171, 174, 0.5); 
        border-radius: 25px;
        overflow: hidden;
        width: 97%;
        position: relative;
    }
  
    .work_container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        will-change: transform;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding-top: 10px;
  
    }
  
    .work_item {
      flex: 1 0 50%; /* Shows 2 items at a time */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .work_container .work1,
    .work2,
    .work3,
    .work4,
    .work5,
    .work6 {
        height: 200px;
        opacity: 1.0; 
        width: 230px;
        border-radius: 25px;
    }
  
    .workname1,
    .workname2,
    .workname3,
    .workname4,
    .workname5,
    .workname6 {
        font-size: 18px;
        opacity: 1;
        margin-top: 10px;
    }
  
    @keyframes slide {
      0% { transform: translateX(0); }          
      16.66% { transform: translateX(0); }      
      20% { transform: translateX(-50%); }      
      36.66% { transform: translateX(-50%); }
      40% { transform: translateX(-100%); }     
      56.66% { transform: translateX(-100%); }
      60% { transform: translateX(-150%); }     
      76.66% { transform: translateX(-150%); }
      80% { transform: translateX(-200%); }     
      96.66% { transform: translateX(-200%); }
      100% { transform: translateX(0); }        
  }
  
    .navigator .work_container {
        animation: slide 20s infinite; 
    }
        
        
    .slider-container {
        overflow: hidden;
        width: 100%;
        position: relative;
    }
    
    .slider {
        display: flex;
        transition: transform 0.5s ease;
        will-change: transform;
    }
    
    .slide {
        min-width: 100%;
        box-sizing: border-box;
    }
    
    .navigation-dots {
        text-align: center;
        margin: 10px 0 20px;
    }
    
    .navigation-dots .dot {
        display: inline-block;
        width: 50px;
        height: 5px;
        background-color: white;
        opacity: 0.5;
        border-radius: 10%;
        margin: 0 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
  
    .navigation-dots .dot.active {
        background-color: white;
        opacity: 1;
    }
    
  
  }  
  
  
  
  
      
  
  
    
  
  
  
  